<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
     <add key="log4net.Internal.Debug" value="true"/> 
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="SplunkAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="9977" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="..\logs\SignInOnce.txt"/>
      <threshold value="DEBUG"/>
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}\log-file.txt" /> -->
      <appendToFile value="true"/>
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <maximumFileSize value="10000000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger %method %location - %message%newline" />
      </layout>
      <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>   
    <!-- Setup the root category, add the appenders and set the default level -->
    <appender name="Syslog" type="log4net.Appender.RemoteSyslogAppender">
      <remoteAddress  value="127.0.0.1" />
      <!--<layout type="log4net.Layout.PatternLayout" value="%-5p %type: %m%n"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%message" />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="SplunkAppender" />
      <appender-ref ref="Syslog" />
    </root>
    <!-- Specify the level for some specific categories -->
    <logger additivity="false" name="SplunkAppender">
      <level value="ALL" />
      <appender-ref ref="SplunkAppender" />
    </logger>
    <logger additivity="false" name="Syslog">
      <level value="ALL" />
      <appender-ref ref="Syslog" />
    </logger>
  </log4net>
  <system.serviceModel>    
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->
      <service name="SignInOnce.SignInService"
               behaviorConfiguration="SignInOnceServiceBehavior">        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SignInService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost/SignInService  -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="SignInOnce.ISignInService" />
        
        <!-- the mex endpoint is exposed at http://localhost/SignInOnceService/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="Web"
                  behaviorConfiguration="Huy"
                  binding="webHttpBinding"
                  contract="SignInOnce.ISignInService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SignInOnceServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Huy">
        <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
